.container-table {
  width: 60%;
  padding-top: 5%;

}

/* table,
tr td {
  border: 1px solid red
} */

tbody {
  display: block;
  height: 300px;
  overflow-y: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* even columns width , fix width of table too*/
}

thead {
  width: calc(100% - 1em)
    /* scrollbar is average 1em/16px width, remove it from thead width */
}

table {
  width: 100%;
}


@media only screen and (max-width:768px) {
  .container-table {
    width: 90%;
    padding-top: 5%;
  }
}

@media only screen and (max-width:420px) {
  .container-table {
    width: 100%;
    padding-top: 5%;
  }
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}
