<div class="container-fluid container-studentform">
  <form [formGroup]="studentForm" action="" method="" (ngSubmit)="onSubmit(studentForm.value)">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="rollnum">Roll Number</label>
        <input type="text" class="form-control" id="rollnum" placeholder="Roll Number" formControlName="roll_no"
          [ngClass]="{ 'is-invalid': submitted && f.roll_no.errors }">
        <div *ngIf="submitted && f.roll_no.errors" class="invalid-feedback">
          <div *ngIf="f.roll_no.errors.required">Roll Number is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="name">Student's Name</label>
        <input type="text" class="form-control" id="name" placeholder="Student's Name"
          formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Student Name is required</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="studentdegree">Degree</label>
      <input type="text" class="form-control" id="studentdegree" placeholder="B.E., B.A. etc"
        formControlName="degree" [ngClass]="{ 'is-invalid': submitted && f.degree.errors }">
      <div *ngIf="submitted && f.degree.errors" class="invalid-feedback">
        <div *ngIf="f.degree.errors.required">Degree is required</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" formControlName="city" placeholder="City">
      </div>
      
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <div [hidden]="!StudentFormError" style="color:red">{{error}}</div>
  </form>
</div>
