<div class="container-fluid container-studentform">
  <form [formGroup]="studentForm" action="" method="" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="rollnum">Roll Number</label>
        <input type="text" class="form-control" id="rollnum" placeholder="Roll Number"
          [ngClass]="{ 'is-invalid': submitted && f.rollno.errors }">
        <div *ngIf="submitted && f.rollno.errors" class="invalid-feedback">
          <div *ngIf="f.rollno.errors.required">Roll Number is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="studentname">Student's Name</label>
        <input type="text" class="form-control" id="studentname" placeholder="Student's Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="studentdegree">Degree</label>
      <input type="text" class="form-control" id="studentdegree" placeholder="B.E., B.A. etc">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
